.log {
    text-align: center;
    .list {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: left;
        .exerciseLogWrapper {
            margin-bottom: 20px;
            .exerciseLog {
                display: flex;
                font-family: 'Copperplate';
                margin-bottom: 5px;
            }
        }
    }
}