.navbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    .logo {
        text-align: center;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .button-container {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 25px;
        align-items: center;
        flex-wrap: wrap;
    }
}